.form-group.row {
    align-items: center;
}

.form-label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
}

.form-label > label {
    margin-bottom: 0;
    width: 40%;
    min-width: 200px;
}

.form-label > label::after {
    content: ":";
    margin-left: 3rem;
}

.form-control {
    width: 60%;
    min-width: 200px;
}

body{
    color: black;
}
