.form-label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
    white-space: nowrap;
}

.form-label > label {
    margin-bottom: 0;
    width: 40%;
    min-width: 200px;
}

.form-label > label::after {
    content: ":";
    margin-left: 0.25rem;
}

.form-control {
    width: 60%;
    min-width: 200px;
}