.ProfileGameRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}

.ProfileGameRow .game-name {
    margin-right: 1.2rem;
}

.ProfileGameRow .badge {
    font-size: 0.9rem;
    align-self: center;
}

.ProfileGameRow .collapse-button {
    margin-left: auto;
}

.ProfileGameRow .collapse-card {
    font-size: 1rem;
}

